{% extends 'base.html.twig' %}

{% block body %}

    <section class="py-4 px-4 mx-auto max-w-screen-xl mb-6">

        <h2 class="text-2xl font-bold pb-6 text-left">
            Latest
        </h2>

        <div class="flex flex-wrap">
            <div class="grow-0 shrink-0 basis-auto w-1/2 pr-3">
                <div class="grow-0 shrink-0 basis-auto h-5/6">
                    <form action="/article" method="GET">
                        <button type="submit" name="articleId" value="{{ first.id }}"
                                class="text-left text-6xl font-bold mb-4 hover:text-gray-600">
                            {{ first.title|capitalize }}
                        </button>
                    </form>
                    <p>
                        {{ first.content|capitalize }}
                    </p>
                </div>

                <div class="flex flex-1 flex-col justify-bottom h-1/6">
                    <div class="flex flex-wrap justify-between pt-12">
                        <div class="flex items-center space-x-4">
                            <img class="w-7 h-7 rounded-full"
                                 src="https://placehold.co/20x20"
                                 alt=""/>
                            <form action="/author" method="GET">
                                <p class="text-gray-500">
                                    Published by
                                    <button name="authorId" value="{{ first.author.id }}"
                                            class="font-semibold hover:text-black">
                                        {{ first.author.name }}
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grow-0 shrink-0 basis-auto w-1/2 pl-3">
                <div class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
                     style="background-position: 50%" data-mdb-ripple="true" data-mdb-ripple-color="light">
                    <img src="https://placehold.co/600x400" class="w-full" alt=""/>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-12">
        <div class="py-2 px-4 mx-auto max-w-screen-xl">
            <div class="grid gap-6 grid-cols-2">
                {% for article in articles %}
                    <article class="flex p-6 bg-gray-50 rounded-lg border border-gray-200 shadow-md">
                        <div class="grow-0 shrink-0 basis-auto">
                            <div class="relative overflow-hidden bg-no-repeat bg-cover ripple shadow-md rounded-lg"
                                 style="background-position: 50%" data-mdb-ripple="true" data-mdb-ripple-color="light">
                                <img src="https://placehold.co/270x180" class="w-full" alt=""/>
                            </div>
                        </div>

                        <div class="flex flex-1 flex-col ml-5">
                            <div class="grow-0 shrink-0 basis-auto h-3/4">
                                <form action="/article/{{ article.id }}" method="GET">
                                    <button type="submit" name="articleId" value="{{ article.id }}"
                                            class="text-left mb-2 text-2xl font-bold tracking-tight text-gray-900 hover:text-gray-600">
                                        {{ article.title|capitalize }}
                                    </button>
                                </form>
                            </div>

                            <div class="flex flex-1 flex-col justify-bottom h-1/4">
                                <div class="flex flex-wrap justify-between pt-4">
                                    <div class="flex items-center space-x-4">
                                        <img class="w-7 h-7 rounded-full"
                                             src="https://placehold.co/20x20"
                                             alt=""/>
                                        <form action="/author/{{ article.author.id }}" method="GET">
                                            <p class="text-gray-500">
                                                Published by
                                                <button name="authorId" value="{{ article.author.id }}"
                                                        class="font-semibold hover:text-black">
                                                    {{ article.author.name }}
                                                </button>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}