{% extends 'base.html.twig' %}

{% block body %}

    <div class="my-10 flex justify-between px-4 mx-auto shadow-md bg-gray-50 pt-32 pb-14 transition-colors duration-300
        transform border rounded-3xl text-center flex-col w-7/12">

        <div class="select-none">
            <img src="https://placehold.co/400x400"
                 class="shadow-xl shadow-gray-300 rounded-full h-100 w-100 mx-auto -mt-40" alt=""/>
        </div>

        <h1 class="mt-12 text-3xl font-bold text-gray-800">
            {{ author.name }}
        </h1>

        <p class="mt-4 text-gray-500">
            <span class="font-bold">username: </span>
            {{ author.userName }}
        </p>
        <p class="mt-4 text-gray-500">
            <span class="font-bold">e-mail: </span>
            {{ author.eMail }}&emsp;|&emsp;
            <span class="font-bold">website: </span>
            {{ author.website }}
        </p>
        <p class="mt-4 text-gray-500">
            <span class="font-bold">hometown: </span>
            {{ author.homeTown }}&emsp;|&emsp;
            <span class="font-bold">employed at: </span>
            "{{ author.workingPlace }}"
        </p>

        <h1 class="mt-12 mb-6 text-2xl font-bold text-gray-800">
            Articles
        </h1>

        <div class="grid gap-8 grid-cols-2">
            {% for article in articles %}
                <div class="pt-8 border-t-2 border-gray-200 text-left">
                    <div class="flex flex-nowrap">
                        <div class="px-4">
                            <img src="https://placehold.co/270x180" alt="">
                        </div>
                        <div class="w-full">
                            <div class="max-w-2xl">
                                <form action="/author/{{ article.author.id }}" method="GET">
                                    <p class="text-gray-400 pb-1">
                                        Published by
                                        <button name="authorId" value="{{ article.author.id }}"
                                                class="font-semibold hover:text-black">
                                            {{ article.author.name }}
                                        </button>
                                    </p>
                                </form>

                                <form action="/article/{{ article.id }}" method="GET">
                                    <button type="submit" name="articleId" value="{{ article.id }}"
                                            class="text-left text-xl font-bold tracking-tight text-gray-900 hover:text-gray-600">
                                        {{ article.title|capitalize }}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}